@font-face {
  font-family: "Raleway_light";
  src: url("./typos/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway_bold";
  src: url("./typos/Raleway-Bold.ttf") format("truetype");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway_light"; /* police appliquée à tout le site par défaut */
}

.main_wrapper {
  /* pour définir des marges plus facilement sur ma page*/
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  max-width: 100%;
  margin-bottom: 20px;
}
.logo {
  padding-top: 15px;
  width: 285%;
  margin: 0 0 10px 0;
}
.haut_de_page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entête p {
  font-size: larger;
}

/* Navigation ----------------------------------------------------------------------*/

nav {
  color: #0065fc;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 1.3em;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 15px;
}

.nav_inscrire {
  font-family: "Raleway_bold";
}

/* titre principal-------------------------------------------------------------------*/

h1 {
  font-family: "Raleway_bold";
  font-size: 22px;
}

/* formulaire-----------------------------------------------------------------------*/

.formulaire_media {
  display: none;
}
.formulaire {
  display: inline-flex;
  width: 25%;
  height: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

form {
  display: flex;
  width: 100%;
  height: 48px;
  border: 3px solid #f2f2f2;
  border-radius: 10px;
}

.fa-map-marker-alt {
  font-size: 20px;
  margin-right: 20px;
  height: 30px;
  width: 25px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 15px 10px 15px;
  border-radius: 5px 0px 0px 5px;
}

.champ input {
  font-family: "Raleway_bold";
  font-size: larger;
  width: 120%;
  height: 89%;
  border-style: none;
}
::placeholder {
  color: black;
  opacity: 1;
}
.envoi input {
  font-family: "Raleway_bold";
  background: #0065fc;
  border: 4px solid #0065fc;
  display: flex;
  color: white;
  font-size: larger;
  padding-bottom: 5px;
  position: relative;
  top: -2px;
  right: -2px;
  height: 51px;
  width: 160px;
  margin-left: 45px;
  border-radius: 0px 10px 10px 0px;
}

/* boutons filtres-----------------------------------------------------------------*/

.filtres {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  font-family: "Raleway_bold";
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px 40px 0px;
}

.bouton {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-style: solid;
  border-width: 3px;
  padding-right: 20px;
  border-radius: 50px;
  border-color: #f2f2f2;
}
.bouton:hover {
  background-color: #deebff;
  border: 3px solid #deebff;
  width: auto;
  height: 60px;
}
.bouton .fa-money-bill-wave {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #0065fc;
  background-color: #deebff;
  width: 61px;
  height: 61px;
  font-size: x-large;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  left: -3px;
}

.bouton .fa-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #0065fc;
  background-color: #deebff;
  width: 61px;
  height: 61px;
  font-size: x-large;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  left: -3px;
}

.bouton .fa-heart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #0065fc;
  background-color: #deebff;
  width: 61px;
  height: 61px;
  font-size: x-large;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  left: -3px;
}
.bouton .fa-dog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #0065fc;
  background-color: #deebff;
  width: 61px;
  height: 61px;
  font-size: x-large;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  left: -3px;
}
.entête p {
  margin-top: 30px;
}
/* icone info à revoir, problème de centrage------------------------------------------------*/
.info {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  height: 20px;
}

.ring {
  color: #0065fc;
  border: 1px solid #deebff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fa-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #0065fc;
  font-size: medium;
  text-align: center;
  position: relative;
  top: -1px;
}

.nombre_logements {
  margin-left: 15px;
  font-size: larger;
}

/* Premier conteneur Hébergements-------------------------------------------------*/

.conteneur_hebergement {
  width: 80%;
  height: auto;
  margin: 0 40px 0 0;
  border-radius: 20px;
  padding: 25px 25px 0px 25px;
  background-color: #f2f2f2;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
}

.conteneur_hebergement .cadre_blanc {
  width: 30%;
  height: auto;
  background-color: #ffff;
  border-radius: 20px;
  margin: 0px 0px 30px 0px;
  padding: 7px 7px 0px 7px;
  box-shadow: #ccc 0px 0px 16px;
}

.cadre_blanc img {
  width: 100%;
  height: 180px;
  margin-bottom: 5px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h2 {
  font-family: "Raleway_bold";
  font-size: x-large;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 2%;
  display: flex;
}

.nom_prix_note {
  width: auto;
  height: auto;
  margin: 5px 0px 5px 0px;
  padding-left: 9px;
  font-size: 17px;
  text-align: left;
  line-height: 25px;
}

.nom_etablissement {
  font-family: "Raleway_bold";
  font-size: larger;
}

.fa.fa-star.checked {
  color: #0065fc;
}

.fa-star {
  color: #f2f2f2;
}

.plus {
  width: 100%;
  display: flex;
  font-family: "Raleway_bold";
  font-size: 20px;
  margin-left: 20px;
}

/* Partie conteneur Les plus populaires---------------------------------------------- */

.titre_picto {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fa-chart-line {
  width: auto;
  height: auto;
  margin-right: 20px;
  font-size: x-large;
  display: flex;
}

.conteneur_populaire {
  width: 30%;
  height: auto;
  border-radius: 20px;
  padding: 25px 15px 25px 15px;
  background-color: #f2f2f2;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.petit_cadre_blanc {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 185px;
  background-color: #ffff;
  border-radius: 20px;
  margin: 30px 10px 18px 10px;
  padding: 7px;
  box-shadow: #ccc 0px 0px 16px;
}

.petit_cadre_blanc img {
  height: 185px;
  width: 45%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  margin-right: 10px;
}

.conteneur_populaire .description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.etoile {
  padding-left: 9px;
  padding-bottom: 10px;
}

section {
  max-width: 100%;
  /* margin-left: 20px;
  margin-right: 20px;*/
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
}
.conteneur_activitee {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 100px;
}

h3 {
  font-family: "Raleway_bold";
  font-size: x-large;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
}

.lieu {
  font-family: "Raleway_bold";
  width: auto;
  height: auto;
  margin: 15px 0px 0px 15px;
  font-size: 17px;
  text-align: left;
  display: flex;
}

.cadre_1 {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 6px 2px 9px #ccc;
}
.cadre_1 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.cadre_1 .lieu {
  display: flex;
  align-items: flex-start;
}
.colone_image {
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cadre_2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 6px 2px 9px #ccc;
}
.cadre_2 img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.cadre_2 .lieu {
  display: flex;
  align-items: flex-start;
}
.cadre_3 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 6px 2px 9px #ccc;
}
.cadre_3 img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.cadre_3 .lieu {
  display: flex;
  align-items: flex-start;
}
footer {
  background-color: #f2f2f2;
  margin-top: 50px;
  height: auto;
  width: 100%;
}

.conteneur_footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
footer ul {
  list-style: none;
}
footer a {
  color: black;
  text-decoration: none;
  line-height: 30px;
}
footer a:hover {
  font-family: "Raleway_bold";
}
h4 {
  width: 100%;
  font-family: "Raleway_bold";
  padding: 0 0 0 40px;
  margin-bottom: 0px;
}
.about {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social a {
  font-size: 40px;
}

/*Les mediaqueries version mobile-----------------------------------------------------*/

@media screen and (max-device-width: 500px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main_wrapper {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  header {
    max-width: 100%;
  }

  .haut_de_page {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .logo {
    width: auto;
    margin-bottom: 40px;
  }

  nav {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }
  .nav_inscrire {
    width: auto;
    position: relative;
    left: 124px;
    top: -80px;
    padding: 0;
    margin: 0;
  }

  .nav_hebergement {
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 4px solid #deebff;
  }

  .nav_activite {
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 4px solid #deebff;
  }

  .bouton {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-style: solid;
    border-width: 3px;
    padding-right: 20px;
    border-radius: 50px;
    border-color: #f2f2f2;
  }

  nav a:hover {
    display: none;
  }

  .nav_hebergement:hover {
    border-top: 0;
    color: #0065fc;
    border-bottom: 4px solid #0065fc;
  }

  .nav_activite:hover {
    border-bottom: 4px solid #0065fc;
  }

  form {
    width: 100%;
  }

  .formulaire_media {
    display: inline-flex;
    width: 100%;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .button_submit {
    font-family: "Raleway_bold";
    background: #0065fc;
    border: 4px solid #0065fc;
    display: flex;
    color: white;
    font-size: larger;
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
    position: relative;
    top: -2px;
    right: -2px;
    height: 51px;
    width: 60%;
    margin-left: 45px;
    border-radius: 15px 15px 15px 15px;
  }

  .champ input {
    width: 140%;
  }
  .formulaire {
    display: none;
  }

  h1 {
    font-size: x-large;
    margin-top: 40px;
  }

  form {
    width: 80%;
  }

  .envoi input {
    width: 60px;
  }

  .filtres p {
    width: 100%;
    margin-top: 10px;
    display: flex;
  }

  .filtres {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .bouton {
    font-size: large;
    margin-bottom: 20px;
    border-width: 3px;
  }

  .bouton:hover {
    background-color: #deebff;
    border: 3px solid #deebff;
    width: auto;
    height: 60px;
  }

  .info {
    width: 90%;
    margin-bottom: 50px;
  }

  .fa-info {
    min-width: 25px;
  }

  section {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .conteneur_populaire {
    display: flex;
    width: 100%;
    border-radius: 0%;
    background-color: #deebff;
  }

  .conteneur_populaire .petit_cadre_blanc {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .titre_picto {
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .conteneur_hebergement {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 0;
    margin-top: 20px;
  }

  .conteneur_hebergement .cadre_blanc {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .cadre_blanc img {
    width: 100%;
    height: 150px;
    padding: 0;
  }

  .plus {
    margin-top: 30px;
    margin-left: 25px;
  }

  .conteneur_activitee {
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: white;
    padding: 0;
    margin-bottom: 40px;
  }

  h3 {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .cadre_1 {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .cadre_1 img {
    height: 200px;
  }

  .colone_image {
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    margin: 20px;
  }

  .colone_image .cadre_2 .cadre_3 {
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
  }

  .cadre_2 {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .cadre_2 img {
    height: 200px;
  }

  .cadre_3 {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
  }

  .cadre_3 img {
    height: 200px;
  }

  footer {
    width: 100%;
    height: auto;
    margin-top: 2px;
  }

  .conteneur_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}

@media screen and (max-device-width: 1024px) {
  body {
    max-width: 100%;
  }

  .main_wrapper {
    max-width: 100%;
  }

  header {
    max-width: 100%;
    padding: 10px;
  }

  .haut_de_page {
    max-width: 100%;
  }

  .logo {
    width: 100%;
  }

  h1 {
    margin-top: 50px;
  }

  .formulaire {
    width: 50%;
  }

  .filtres {
    width: 100%;
  }

  .bouton:hover {
    background-color: #deebff;
    border: 3px solid #deebff;
    width: auto;
    height: 60px;
  }

  section {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    margin-bottom: 20px;
  }

  .conteneur_hebergement {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }

  .plus {
    margin-top: 10px;
  }

  .conteneur_hebergement .cadre_blanc {
    height: auto;
  }

  .nom_prix_note {
    margin: 0;
    padding: 7px;
  }

  .conteneur_populaire {
    background-color: #deebff;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .description {
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0;
  }

  .conteneur_populaire .cadre_blanc {
    height: auto;
    width: 270px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }

  .conteneur_populaire .cadre_blanc img {
    width: 100%;
    border-radius: 5% 5% 0 0;
  }

  .etoile {
    display: flex;
    justify-content: flex-start;
  }

  .conteneur_activitee {
    margin-top: 0%;
  }

  .conteneur_activitee .cadre_blanc img {
    margin-bottom: -9px;
  }

  footer {
    width: 100%;
  }

  .conteneur_footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
